@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
     <meta content="width=device-width, initial-scale=1.0" name="viewport">

     <title>KnightOne Bootstrap Template - Index</title>
     <meta content="" name="description">
     <meta content="" name="keywords">

     <!-- Favicons -->
     <link href="assets/img/favicon.png" rel="icon">
     <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

     <!-- Google Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

     <!-- Vendor CSS Files -->
     <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
     <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
     <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
     <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
     <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

     <!-- Template Main CSS File -->
     <link href="assets/css/style.css" rel="stylesheet">
     @Styles.Render("~/bundles/bootstrapicons/css")
     @Styles.Render("~/bundles/bootstrap/css")
     @Styles.Render("~/bundles/boxicons/css")
     @Styles.Render("~/bundles/glightbox/css")
     @Styles.Render("~/bundles/remixicon/css")
     @Styles.Render("~/bundles/swiper/css")
     @Styles.Render("~/bundles/style/css")

     @if (IsSectionDefined("Styles"))
     {@RenderSection("Styles", required: false)}
</head>
<body>

     <content>
          @RenderBody()
     </content>
     @Scripts.Render("~/bundles/main/js")
     @Scripts.Render("~/bundles/validate/js")
     @Scripts.Render("~/bundles/swiper/js")
     @Scripts.Render("~/bundles/isotope/js")
     @Scripts.Render("~/bundles/glightbox/js")
     @Scripts.Render("~/bundles/bootstrap/js")
     @Scripts.Render("~/bundles/purecounter/js")
</body>
</html>


